In [1]:
import pandas as pd
import datetime as dt

In [2]:
file = "../data/new_data.csv"
file_df = pd.read_csv(file)
file_df.head()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,3429348,A-3436071,Bing,NaN,2,2020-12-29 16:15:00,2020-12-29 23:32:44,34.229923,-117.211105,34.231439,...,False,False,False,False,False,False,Day,Day,Day,Day
1,3804311,A-3811172,Bing,NaN,2,2019-10-19 18:46:00,2019-10-19 22:01:27,34.035712,-118.170145,34.035712,...,False,False,False,False,False,False,Night,Night,Day,Day
2,3380099,A-3386170,Bing,NaN,2,2020-11-21 08:43:00,2020-11-21 12:30:14,38.617427,-121.355262,38.617420,...,False,False,False,False,False,False,Day,Day,Day,Day
3,3003577,A-3004433,Bing,NaN,2,2020-11-20 13:18:00,2020-11-20 15:23:39,34.019522,-118.180044,34.014963,...,False,False,False,False,False,False,Day,Day,Day,Day
4,1218502,A-1218605,MapQuest,201.0,3,2019-09-16 18:56:34,2019-09-16 20:04:33,32.253761,-80.846718,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day

In [3]:
new_df = file_df[["State","Start_Time"]]

In [4]:
new_df["Start_Time"] = pd.to_datetime(new_df["Start_Time"])

<ipython-input-4-f7ba540b2feb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["Start_Time"] = pd.to_datetime(new_df["Start_Time"])

In [5]:
new_df['Start_Time'] = pd.DatetimeIndex(new_df['Start_Time']).hour

<ipython-input-5-8029daf93549>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Start_Time'] = pd.DatetimeIndex(new_df['Start_Time']).hour

In [12]:
new_df

     State  Start_Time
0       CA          16
1       CA          18
2       CA           8
3       CA          13
4       SC          18
...    ...         ...
4995    AZ          15
4996    FL           5
4997    NC          17
4998    AZ           8
4999    OR           3

[5000 rows x 2 columns]

In [7]:
grouped_df = new_df.groupby(['State'])
grouped_df["Start_Time"].count()

State
AL      84
AR      11
AZ     136
CA    1221
CO      68
CT      30
DC       8
DE       9
FL     442
GA     103
IA      20
ID       6
IL     100
IN      25
KS       9
KY      29
LA     108
MA      44
MD      67
ME       4
MI      85
MN     140
MO      72
MS       2
MT       5
NC     241
ND       1
NE      20
NH      11
NJ      80
NM       7
NV      12
NY     204
OH      72
OK      81
OR     181
PA     161
RI       9
SC     307
SD       1
TN     103
TX     348
UT      80
VA     147
VT       3
WA      71
WI      28
WV       4
Name: Start_Time, dtype: int64

In [10]:
avg_df = grouped_df["Start_Time"].sum() / grouped_df["Start_Time"].count()

In [19]:
avg_df

State
AL    13.035714
AR    13.545455
AZ    11.816176
CA    12.630631
CO     9.676471
CT    12.433333
DC    12.250000
DE    10.333333
FL    11.515837
GA    12.087379
IA    14.150000
ID    15.166667
IL    10.640000
IN    11.440000
KS    13.333333
KY    10.517241
LA    12.546296
MA    11.431818
MD    12.149254
ME     6.750000
MI    11.270588
MN    13.278571
MO    11.750000
MS    10.500000
MT    16.200000
NC    12.879668
ND    21.000000
NE    11.100000
NH    11.727273
NJ    11.987500
NM    10.714286
NV    10.416667
NY    11.823529
OH    12.083333
OK    13.172840
OR    12.558011
PA    11.838509
RI    10.444444
SC    12.156352
SD    21.000000
TN    12.106796
TX    11.339080
UT    12.237500
VA    12.653061
VT    12.333333
WA    12.140845
WI    11.035714
WV    13.500000
Name: Start_Time, dtype: float64