In [1]:
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2
import matplotlib.pyplot as plt
import pandas as pd
import getpass

In [2]:
password = getpass.getpass()

········

In [3]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5433/accidents_db')
connection = engine.connect()

In [4]:
data = pd.read_sql("SELECT * FROM accidents", connection)
data.head()

,index,id,source,tmc,severity,start_time,end_time,start_lat,start_lng,end_lat,...,roundabout,station,stop,traffic_calming,trafic_signal,turning_loop,sunrise_sunset,civil_twilight,nautical_twilight,astronomical_twilight
0,3429348,A-3436071,Bing,None,2,2020-12-29 16:15:00,2020-12-29 23:32:44,34.229923,-117.211105,34.231439,...,False,False,False,False,False,False,Day,Day,Day,Day
1,3804311,A-3811172,Bing,None,2,2019-10-19 18:46:00,2019-10-19 22:01:27,34.035712,-118.17014499999999,34.035712,...,False,False,False,False,False,False,Night,Night,Day,Day
2,3380099,A-3386170,Bing,None,2,2020-11-21 08:43:00,2020-11-21 12:30:14,38.617427,-121.35526200000001,38.61742,...,False,False,False,False,False,False,Day,Day,Day,Day
3,3003577,A-3004433,Bing,None,2,2020-11-20 13:18:00,2020-11-20 15:23:39,34.019521999999995,-118.180044,34.014963,...,False,False,False,False,False,False,Day,Day,Day,Day
4,1218502,A-1218605,MapQuest,201.0,3,2019-09-16 18:56:34,2019-09-16 20:04:33,32.253761,-80.84671800000001,None,...,False,False,False,False,False,False,Day,Day,Day,Day

In [5]:
new_df = data[["state","start_time"]]

In [6]:
new_df["start_time"] = pd.to_datetime(new_df["start_time"])

<ipython-input-6-8ec531c9ba3a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["start_time"] = pd.to_datetime(new_df["start_time"])

In [7]:
new_df['Start_Time_Minute'] = pd.DatetimeIndex(new_df['start_time']).minute/60
new_df['Start_Time_Hour'] = pd.DatetimeIndex(new_df['start_time']).hour

<ipython-input-7-5bf3c1b53704>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Start_Time_Minute'] = pd.DatetimeIndex(new_df['start_time']).minute/60
<ipython-input-7-5bf3c1b53704>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Start_Time_Hour'] = pd.DatetimeIndex(new_df['start_time']).hour

In [8]:
new_df['Start_Times'] = new_df['Start_Time_Minute']+new_df['Start_Time_Hour']
new_df.head()

<ipython-input-8-862cf3d5a350>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Start_Times'] = new_df['Start_Time_Minute']+new_df['Start_Time_Hour']

  state          start_time  Start_Time_Minute  Start_Time_Hour  Start_Times
0    CA 2020-12-29 16:15:00           0.250000               16    16.250000
1    CA 2019-10-19 18:46:00           0.766667               18    18.766667
2    CA 2020-11-21 08:43:00           0.716667                8     8.716667
3    CA 2020-11-20 13:18:00           0.300000               13    13.300000
4    SC 2019-09-16 18:56:34           0.933333               18    18.933333

In [9]:
grouped_df = new_df.groupby(['state'])
grouped_df["Start_Times"].count()

state
AL      84
AR      11
AZ     136
CA    1221
CO      68
CT      30
DC       8
DE       9
FL     442
GA     103
IA      20
ID       6
IL     100
IN      25
KS       9
KY      29
LA     108
MA      44
MD      67
ME       4
MI      85
MN     140
MO      72
MS       2
MT       5
NC     241
ND       1
NE      20
NH      11
NJ      80
NM       7
NV      12
NY     204
OH      72
OK      81
OR     181
PA     161
RI       9
SC     307
SD       1
TN     103
TX     348
UT      80
VA     147
VT       3
WA      71
WI      28
WV       4
Name: Start_Times, dtype: int64

In [11]:
avg_df = grouped_df["Start_Times"].sum() / grouped_df["Start_Times"].count()
avg_df

state
AL    13.528968
AR    14.127273
AZ    12.312990
CA    13.129771
CO    10.225245
CT    12.879444
DC    12.743750
DE    10.850000
FL    12.036501
GA    12.563107
IA    14.587500
ID    15.741667
IL    11.162500
IN    11.925333
KS    13.690741
KY    11.106897
LA    13.033025
MA    11.961364
MD    12.634577
ME     7.341667
MI    11.779804
MN    13.730238
MO    12.287731
MS    11.158333
MT    16.580000
NC    13.385685
ND    21.666667
NE    11.631667
NH    12.103030
NJ    12.558125
NM    11.190476
NV    10.895833
NY    12.326961
OH    12.608565
OK    13.674691
OR    13.038306
PA    12.356108
RI    10.661111
SC    12.641368
SD    21.966667
TN    12.611650
TX    11.846695
UT    12.695833
VA    13.171655
VT    13.150000
WA    12.634038
WI    11.593452
WV    14.112500
Name: Start_Times, dtype: float64

In [ ]:
# Above averages manually entered into 'static/data/us_states.js' as "time" property