In [1]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine

## Connection to SQL Database

In [2]:
#password
import getpass
password = getpass.getpass()

········

In [3]:
#Connect to the accidents database in SQL
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/accidents_db")

In [4]:
#Get the tables form the accidents database
engine.table_names()

['accidents']

## Retrieval of data from database

In [5]:
#Query all records from the accidents table and convert to pandas dataframe
accidents_df = pd.read_sql_query('select * from accidents', con=engine)
accidents_df.head()

,index,id,source,tmc,severity,start_time,end_time,start_lat,start_lng,end_lat,...,roundabout,station,stop,traffic_calming,trafic_signal,turning_loop,sunrise_sunset,civil_twilight,nautical_twilight,astronomical_twilight
0,3429348,A-3436071,Bing,NaN,2,2020-12-29 16:15:00,2020-12-29 23:32:44,34.229923,-117.211105,34.231439,...,False,False,False,False,False,False,Day,Day,Day,Day
1,3804311,A-3811172,Bing,NaN,2,2019-10-19 18:46:00,2019-10-19 22:01:27,34.035712,-118.170145,34.035712,...,False,False,False,False,False,False,Night,Night,Day,Day
2,3380099,A-3386170,Bing,NaN,2,2020-11-21 08:43:00,2020-11-21 12:30:14,38.617427,-121.355262,38.617420,...,False,False,False,False,False,False,Day,Day,Day,Day
3,3003577,A-3004433,Bing,NaN,2,2020-11-20 13:18:00,2020-11-20 15:23:39,34.019522,-118.180044,34.014963,...,False,False,False,False,False,False,Day,Day,Day,Day
4,1218502,A-1218605,MapQuest,201.0,3,2019-09-16 18:56:34,2019-09-16 20:04:33,32.253761,-80.846718,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day

## Pandas Dataframe to JSON file

In [8]:
accidents_data = accidents_df.to_json("accidents_data.json")

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)