In [1]:
import pandas as pd

In [2]:
accidents = pd.read_csv("US_Accidents_Dec20.csv")
accidents

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4232536,A-4239402,Bing,NaN,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,...,False,False,False,False,False,False,Day,Day,Day,Day
4232537,A-4239403,Bing,NaN,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,...,False,False,False,False,False,False,Day,Day,Day,Day
4232538,A-4239404,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,...,False,False,False,False,False,False,Day,Day,Day,Day
4232539,A-4239405,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,...,False,False,False,False,False,False,Day,Day,Day,Day
4232540,A-4239406,Bing,NaN,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,...,False,False,False,False,False,False,Day,Day,Day,Day

In [4]:
accidents.columns

Index(['ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [6]:
accidents.head(1000)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,A-996,MapQuest,201.0,2,2016-06-23 10:31:07,2016-06-23 11:01:07,38.022778,-121.965698,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
996,A-997,MapQuest,201.0,3,2016-06-23 10:22:09,2016-06-23 10:52:09,37.656654,-121.901588,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
997,A-998,MapQuest,201.0,2,2016-06-23 10:31:51,2016-06-23 11:46:51,38.690273,-121.392136,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
998,A-999,MapQuest,201.0,2,2016-06-23 10:32:51,2016-06-23 11:47:51,38.681110,-121.333244,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
999,A-1000,MapQuest,201.0,2,2016-06-23 10:31:12,2016-06-23 11:01:12,38.653061,-121.070541,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day

In [7]:
accidents["Start_Time"].value_counts()

2020-12-16 13:53:25    109
2020-09-30 12:41:30     80
2017-05-15 09:22:55     74
2020-12-16 13:54:00     61
2020-10-12 11:13:30     60
                      ...
2017-02-05 10:31:42      1
2016-08-29 16:36:35      1
2020-07-02 08:46:03      1
2016-09-21 10:28:33      1
2017-08-04 14:30:07      1
Name: Start_Time, Length: 3657563, dtype: int64

In [8]:
accidents["Start_Time"].min()

'2016-02-08 00:37:08'

In [9]:
accidents["Start_Time"].max()

'2020-12-31 23:28:56'

In [10]:
recent_accidents = accidents.loc[accidents["Start_Time"]>='2019-01-01 00:00:00']
recent_accidents

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
512217,A-512230,MapQuest,201.0,2,2020-12-31 10:47:49,2020-12-31 12:19:16,43.207451,-78.650032,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
512218,A-512231,MapQuest,201.0,2,2020-12-31 13:24:43,2020-12-31 13:54:32,43.030651,-78.875862,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
512219,A-512232,MapQuest,201.0,3,2020-12-31 13:29:34,2020-12-31 14:59:19,42.550568,-79.108765,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
512220,A-512233,MapQuest,201.0,2,2020-12-31 04:35:33,2020-12-31 05:35:36,42.362038,-71.071365,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
512221,A-512234,MapQuest,201.0,2,2020-12-31 05:11:11,2020-12-31 07:00:16,42.357281,-71.128036,NaN,NaN,...,False,True,False,False,True,False,Night,Night,Night,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4232536,A-4239402,Bing,NaN,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,...,False,False,False,False,False,False,Day,Day,Day,Day
4232537,A-4239403,Bing,NaN,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,...,False,False,False,False,False,False,Day,Day,Day,Day
4232538,A-4239404,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,...,False,False,False,False,False,False,Day,Day,Day,Day
4232539,A-4239405,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,...,False,False,False,False,False,False,Day,Day,Day,Day
4232540,A-4239406,Bing,NaN,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,...,False,False,False,False,False,False,Day,Day,Day,Day

In [19]:
reduced_accidents = recent_accidents.sample(n=5000)

In [20]:
reduced_accidents

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
3429348,A-3436071,Bing,NaN,2,2020-12-29 16:15:00,2020-12-29 23:32:44,34.229923,-117.211105,34.231439,-117.207404,...,False,False,False,False,False,False,Day,Day,Day,Day
3804311,A-3811172,Bing,NaN,2,2019-10-19 18:46:00,2019-10-19 22:01:27,34.035712,-118.170145,34.035712,-118.170145,...,False,False,False,False,False,False,Night,Night,Day,Day
3380099,A-3386170,Bing,NaN,2,2020-11-21 08:43:00,2020-11-21 12:30:14,38.617427,-121.355262,38.617420,-121.354437,...,False,False,False,False,False,False,Day,Day,Day,Day
3003577,A-3004433,Bing,NaN,2,2020-11-20 13:18:00,2020-11-20 15:23:39,34.019522,-118.180044,34.014963,-118.170085,...,False,False,False,False,False,False,Day,Day,Day,Day
1218502,A-1218605,MapQuest,201.0,3,2019-09-16 18:56:34,2019-09-16 20:04:33,32.253761,-80.846718,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3530355,A-3537153,Bing,NaN,1,2020-06-08 15:30:47,2020-06-08 16:15:47,32.323240,-111.037420,32.323240,-111.037420,...,False,False,False,False,True,False,Day,Day,Day,Day
3115346,A-3117788,Bing,NaN,2,2020-12-09 05:35:00,2020-12-09 06:50:31,30.997019,-87.488640,30.997953,-87.488423,...,False,False,False,False,False,False,Night,Night,Night,Day
964731,A-964825,MapQuest,201.0,2,2020-02-21 17:07:12,2020-02-21 18:40:14,35.232368,-80.833382,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
935077,A-935170,MapQuest,201.0,3,2020-02-05 08:02:14,2020-02-05 08:31:29,33.427868,-112.036263,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
3292761,A-3297731,Bing,NaN,2,2020-10-15 03:02:49,2020-10-19 23:47:00,44.705804,-118.118208,44.717334,-118.154658,...,False,False,False,False,False,False,Night,Night,Night,Night

In [21]:
reduced_accidents["Start_Time"].min()

'2019-01-01 08:07:28'

In [22]:
reduced_accidents["Start_Time"].max()

'2020-12-31 21:49:43'

In [23]:
reduced_accidents['State'].value_counts()

CA    1221
FL     442
TX     348
SC     307
NC     241
NY     204
OR     181
PA     161
VA     147
MN     140
AZ     136
LA     108
TN     103
GA     103
IL     100
MI      85
AL      84
OK      81
UT      80
NJ      80
OH      72
MO      72
WA      71
CO      68
MD      67
MA      44
CT      30
KY      29
WI      28
IN      25
NE      20
IA      20
NV      12
NH      11
AR      11
RI       9
KS       9
DE       9
DC       8
NM       7
ID       6
MT       5
ME       4
WV       4
VT       3
MS       2
SD       1
ND       1
Name: State, dtype: int64

In [25]:
reduced_accidents.to_csv("new_data.csv")